/* Container padre */
.MuiContainer-root.MuiContainer-maxWidthLg.css-1oqqzyl-MuiContainer-root {
    margin-top: 5%; 
    width: 80%;
}
.containerInputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2% 3%;
    grid-auto-flow: row;
    grid-template-areas: 
    "nombre correo"
    "tel org"
    "mensaje mensaje"
}
#mensaje { grid-area: mensaje; }
#nombre { grid-area: nombre; }
#tel { grid-area: tel; }
#correo { grid-area: correo; }
#org { grid-area: org; }


/* formato input */
.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    margin: 2%;
    border-radius: 15px;
}
/* boton */
button.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.enviar.css-sghohy-MuiButtonBase-root-MuiButton-root {
    margin: 3%;
    width: 13%;
    border-radius: 15px;
}
