.containerFooter{
    width: 100%;
    height: 40vh;
    background: linear-gradient(100.66deg, rgba(8, 63, 26, 0.86) 23.13%, rgba(8, 63, 26, 0.92) 23.14%, rgba(8, 63, 26, 0.86) 23.14%, rgba(8, 63, 26, 0.86) 43.82%, #056EA5 95.16%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 5px 30px;
    gap: 2%;
    justify-items: center;
    grid-template-areas: 
    "cgi contactenos servicios"
    "linea linea linea"
    "copyright copyright copyright";
}
.cgi{
    margin: 3%;
    letter-spacing: 1px;
    font-size: 70%;
    color:white;
    line-height: 1.6;
    grid-area: cgi;
}
.contactenos{
    margin: 3%;
    letter-spacing: 1px;
    font-size: 70%;
    color:white;
    line-height: 1.6;
    grid-area: contactenos;
}
.servicios{
    margin: 3%;
    letter-spacing: 1px;
    font-size: 70%;
    color:white;
    line-height: 1.6;
    grid-area: servicios;
}
.linea{
    width: 550%;
    height: 0.25px;
    background-color: white;
}
.copyright{
    letter-spacing: 1px;
    font-size: 80%;
    color:white;
    grid-area: copyright;
}
.logo{
    height: 10vh;
    text-align: center;
}
.iconsRedes {
    margin-top: 40%;
}